#header
	#hero
		%h1{:class => @@content['settings']['title_classes']}
			%a{:href => url('/')}= @@content['settings']['title']
		%h2{:class => @@content['settings']['title_classes']}=@@content['settings']['subtitle']
	- if @@content['settings']['info_1']
		.contact{:class => @@content['settings']['info_classes']}
			%p= @@content['settings']['info_1']
			%p= @@content['settings']['info_2'] if @@content['settings']['info_2']
	.clear