#header
	#hero
		%h1{:class => @@content['settings']['user_name_classes']}
			%a{:href => url('/')}= @@content['user']['name']
		%h2{:class => @@content['settings']['title_classes']}=@@content['settings']['title']
	.contact{:class => @@content['settings']['contact_info_classes']}
		%p= @@content['user']['email']
		%p= @@content['user']['phone']
	.clear